services:
  db:
    image: postgres:alpine
    container_name: postgres-${PROJECT_NAME}
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ${POSTGRES_VOLUME}:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis-octochord
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - ${REDIS_VOLUME}:/data
    command: ["redis-server", "--appendonly", "yes"]
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 64M

volumes:
  octochord-postgres-data:
  octochord-redis-data: